<a class="back-to-all" routerLink="/">< see all Donuts</a>
<div class="card-container">
    <ng-container *ngIf="donut">
        <div class="banner">
            <img [src]="'http://localhost:3000' + donut.bannerUrl" />
        </div>
        <h2>{{ donut.title }}</h2>
        <div class="donut">
            <img [src]="'http://localhost:3000' + donut.img" [alt]="donut.imgAlt" />
        </div>
        <p>{{ donut.description }}</p>
        <p></p>
        <a class="card" [href]="donut.nutritionalFacts" target="_blank" rel="noopener"
            >Get Nutritional Facts</a
        >
    </ng-container>
</div>
